/* chrome and chromium based */
/* .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
} */

/* .react-horizontal-scrolling-menu--scroll-container { */
  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
/* } */
::-webkit-scrollbar {
  width: 0px;
}

.leftArrow, .rightArrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 30px; */
  /* border-radius: 4px; */
  /* position: absolute; */
  /* bottom: -230px; */
  transform: scale(1);
  transition: 0.3s all ease-in-out;
  color: #222;
}

.leftArrow:hover, .rightArrow:hover {
  color: #FFD700;
}

.rightArrow svg {
  width: 40px;
}
.leftArrow svg {
  width: 40px;
}

@media screen and (max-width: 768px) {
  .leftArrow, .rightArrow {
    display: none;
  }
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.paginationBtns a {
  padding: 4px 8px;
  border-radius: 12%;
}

.paginationActive a {
  background-color: #222;
  color: #FFD700;
}

.prevBtn, .nextBtn {
  padding: 4px 8px;
  display: flex;
}

svg {
  width: 20px;
}

